@using MVC_2.Models
@{
    List<Product> products = ViewBag.Products;
}

    <h3>
        Products:
    </h3>

    <ul>
        @foreach (var item in products)
        {
            <li><a asp-action="details" asp-route-id="@item.Id">@item.Name - @item.Price</a></li>
        }
    </ul>


